.MentorStory{
    /* border:  thick solid #7a7777; */
    width: 75%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 15%;

  }

h1{
    color: #001529;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
.CreateSession{
    /* border:  thick solid #7a7777; */
    width: 60%;
    margin-left: 15%;
    margin-top: 3%;
    margin-bottom: 5%;
    margin-right: 25%;
    
}
h3{
    color: rgb(93, 99, 99);
    text-align: center;
    font-size: larger;
    font-weight: bold;
}